<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Planetas</title>
</head>
<body>
    <h1>Listado de Planetas</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Distancia en UA</th>
            <th>Identificador</th>
            <th>Distancia en miles de kilómetros</th>
        </tr>
        <tr th:each="planeta : ${PlanetaDTO.planetas}">
            <td th:text="${planeta.value.nombre}"></td>
            <td th:text="${planeta.value.UA}"></td>
            <td th:text="${planeta.value.id}"></td>
            <td th:text="${planeta.value.milesk}"></td>
        </tr>
    </table>
</body>
</html>
